/*
!/.gitignore
!ezpayajax.php
!ezpaypayment.php

!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/ezpay-qrcode.scss
!/assets/css/ezpay-qrcode.css
!/assets/css/ezpay-qrcode.css.map
!/assets/js/
/assets/js/*
!/assets/js/ezpay-qrcode.js
!/assets/js/jquery.blockUI.js


!/templates/
/templates/*
!/templates/ezpay/

!/modules/
/modules/*
!/modules/gateways/
/modules/gateways/*
!/modules/gateways/ezpay.php
!/modules/gateways/ezpay/