/*
!/.gitignore
!ezdefiajax.php
!ezdefipayment.php

!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/ezdefi-qrcode.scss
!/assets/css/ezdefi-qrcode.css
!/assets/css/ezdefi-qrcode.css.map
!/assets/js/
/assets/js/*
!/assets/js/ezdefi-qrcode.js
!/assets/js/jquery.blockUI.js
!/assets/js/clipboard.min.js
!/assets/js/ezdefi-lib.js
!/assets/img/
/assets/img/*
!/assets/img/android-icon.png
!/assets/img/ios-icon.png
!/assets/img/ezdefi-icon.png
!/assets/img/copy-icon.svg


!/templates/
/templates/*
!/templates/ezdefi/

!/modules/
/modules/*
!/modules/gateways/
/modules/gateways/*
!/modules/gateways/callback
/modules/gateways/callback/*
!/modules/gateways/callback/ezdefi.php
!/modules/gateways/ezdefi.php
!/modules/gateways/ezdefi/
/modules/gateways/ezdefi/vendor