#whmcs_ezdefi_qrcode {
  text-align: center;
}
#whmcs_ezdefi_qrcode .selected-currency {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
#whmcs_ezdefi_qrcode .selected-currency .left {
  display: flex;
  align-items: center;
}
#whmcs_ezdefi_qrcode .selected-currency .left .logo img {
  width: 36px;
  margin-right: 15px;
}
#whmcs_ezdefi_qrcode .selected-currency .left .text {
  text-align: left;
}
#whmcs_ezdefi_qrcode .selected-currency .left .text .symbol {
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
}
#whmcs_ezdefi_qrcode .selected-currency .left .text .name {
  text-transform: capitalize;
  margin-left: 5px;
}
#whmcs_ezdefi_qrcode .currency-select {
  display: none;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item:last-child {
  border-bottom: none;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item input {
  margin-right: 20px;
  margin-bottom: 0;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .left {
  display: flex;
  align-items: center;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .left img {
  width: 32px;
  margin-right: 20px;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .left .symbol {
  text-transform: uppercase;
  font-weight: 700;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right {
  display: flex;
  align-items: center;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right .name {
  text-transform: capitalize;
  margin-right: 20px;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right .discount {
  color: #666;
  margin-right: 20px;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right .more {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 18px;
  border-radius: 100%;
  position: relative;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACiUlEQVRYhe2XzWsTYRDGn+luQkz9ogpii6UiCFKPWilFvAki9OJBwUYDZd+EHEQEexAPwX9AoQaym49DF0/xogfx4MfFk0r1ItiDUIQGDLaLH02w3X3HSwuhZDe72Y0n57LsPPPO/PYdmGEJEVg2m51yHOcOEU0A2GDmp47jzFWr1V/dzqphi2cymctSykdEpGz7iCgbi8X2AJjpdp7CFM/lcrtt214GcKCDbFuWNVir1Ta8cgyEAbBt+7RLcQAYSCQSsW45QgEQkVcL35mmud5XAFVVFwH87CBtAsj5yREKoFAorDLzFQArWy4HwBtmnjAMYzFM7qBGQojDQojkvyz63yKxUIMIAFKp1GAymbwkpZwkojEiKuq6/qTvAEKIYwBuArgGYG+btDY8PHwon8/bfvIE3gXpdHp/PB6/C+AGgE6TbqjRaCQA/I4cQNO0q0T0AMBBjzBHUZRNvzl9AWz1+SEzp32Ef56fn/8TGYAQYhTAc2Y+AcAG8ALAd7iv2vd+iwM+RnGr1VoFsIuZF6SUxw3DuMDML93iiehVEICuN2Ca5roQYrxUKjXbikx4ALjCdTJfy8gwjOYO11mX0KVisbjiovUO0G6zs7NDAE520oJ+fU8AqqpOuWlSykD97wmAmd2un6WUr/sOQERuAB8qlcpaXwGEEElmPuUiB+4/EHwXnPE483HrSZqmXQdwfmRkZCafz8soASbdBGZWNE2bJqJbAM4B+FGv148C+BIlwLibQEQLba/LRHRR13XP4pECbBszv2Xm6XK5/M1PwqAA+zy0JhHdsyzrfrffsZ4BiGiJmcd2uB0AjwHM6br+NUi+wADMfBvAEQCjAD4x8zNFUSpB53+7/QXcy9kpGcIPfQAAAABJRU5ErkJggg==");
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right .more .tooltip {
  visibility: hidden;
  min-width: 280px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  bottom: auto;
  right: 150%;
  opacity: 0;
  transition: opacity 0.3s;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right .more .tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}
#whmcs_ezdefi_qrcode .currency-select .currency-item label .right .more:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs {
  margin-bottom: 20px;
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs ul {
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs ul li {
  display: inline-block;
  margin-bottom: -1px;
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs ul li.ui-tabs-active a {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom-color: transparent;
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs ul li a {
  background-color: #fff;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs ul li a#tab-ezdefi_wallet {
  background-size: 18px 18px;
  background-position: 18px center;
  background-repeat: no-repeat;
  padding-left: 44px;
}
#whmcs_ezdefi_qrcode .ezdefi-payment-tabs .ezdefi-payment-panel {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
}
#whmcs_ezdefi_qrcode .ezdefi-payment {
  padding: 20px 20px 0 20px;
  text-align: center;
}
#whmcs_ezdefi_qrcode .ezdefi-payment .exchange {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
}
#whmcs_ezdefi_qrcode .ezdefi-payment .exchange span {
  padding: 0 10px;
}
#whmcs_ezdefi_qrcode .ezdefi-payment .exchange img {
  width: 16px;
}
#whmcs_ezdefi_qrcode .ezdefi-payment img.qrcode {
  display: block;
  margin: 0 auto;
}
#whmcs_ezdefi_qrcode .ezdefi-payment span.currency {
  text-transform: uppercase;
}
#whmcs_ezdefi_qrcode button.submitBtn {
  margin-bottom: 20px;
}

/*# sourceMappingURL=ezdefi-qrcode.css.map */
