#ezdefi-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;
  overflow: hidden;
  outline: 0;

  #ezdefi-modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 98;
  }

  #ezdefi-modal__content {
    width: 80%;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    height: 80%;

    #ezdefi-exception-table {
      width: 100%;
      max-height: calc(100% - 58px);
      background: #fff;
      display: flex;
      flex-direction: column;

      thead {
        display: table;
        width: 100%;
        table-layout: fixed;

        th {
          padding: 0 16px;
          height: 44px;
        }
      }

      tbody {
        display: block;
        max-height: calc(100% - 88px);
        overflow: auto;

        tr {
          border-top: 1px solid rgba(0,0,0,.12);
          display: table;
          width: 100%;
          table-layout: fixed;

          td {
            height: 40px;
            padding: 0 16px;
            overflow: hidden;

            .explorer-url {
              display: block;
            }

            &.currency-column {
              text-transform: uppercase;
            }

            &.invoice-select-column {
              min-width: 250px;
            }
          }
        }
      }

      tfoot {
        display: table;
        width: 100%;
        table-layout: fixed;

        tr {
          border-top: 1px solid rgba(0, 0, 0, 0.12);

          td {
            padding: 0 16px;
            height: 44px;

            ul.pagination {
              margin: 6px 0 0 0 !important;

              li {
                a {
                  padding: 2px 6px;
                }
              }
            }
          }
        }
      }
    }

    #ezdefi-exception-search {
      padding: 0 12px;
      background: #fff;
      display: flex;
      align-items: center;
      height: 58px;

      input, select {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        padding: 4px;
        margin: 4px;
        border-radius: 4px;
      }

      .select2-container {
        .select2-selection {
          border-color: #ccc;
          height: 30px;
        }
      }

      a.clearFilterBtn {
        margin-left: 4px;
      }
    }
  }
}

.whmcs-ezdefi-loader {
  border: 2px solid #eee;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 2px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body.ezdefi-modal-open {
  overflow: hidden;
}