#Payment-Gateway-Config-ezdefi {
  span.error {
    display: block;
    color: #cc0000;;
  }
  #ezdefi-currency-table {
    font-size: 13px;
    width: 100%;

    thead {
      th {
        padding: 3px 5px;
      }
    }

    tbody {
      tr {
        td {
          .select2-container {
            .select2-selection {
              text-transform: capitalize;
            }
          }

          &.sortable-handle {
            cursor: move;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;

            span {
              width: 13px;
              font-size: 13px;
              color: #999;
              display: block;
            }

            &:hover {
              span {
                color: #333;
              }
            }
          }

          &.logo {
            text-align: center;
            img {
              display: block;
              width: 26px;
            }
          }

          &.name {
            min-width: 150px;
            text-transform: capitalize;
          }

          &.wallet {
            input {
              width: 100%;
            }
            .checking {
              display: flex;
              padding: 2px 0;

              span {
                font-size: 13px;

                &.text {
                  color: #0073aa;
                }

                &.correct {
                  color: #567622;
                }
              }

              .dots {
                margin-left: 5px;
                display: flex;
                padding-bottom: 4px;
                align-items: flex-end;

                .dot {
                  display: inline-block;
                  width: 2px;
                  height: 2px;
                  margin-right: 2px;
                  border-radius: 50%;
                  background: #0073aa;
                  -webkit-animation: dot-dot-dot 1.4s linear infinite;
                  animation: dot-dot-dot 1.4s linear infinite;

                  &:nth-child(2) {
                    animation-delay: .2s;
                  }

                  &:nth-child(3) {
                    animation-delay: .4s;
                  }

                  @keyframes dot-dot-dot {
                    0%, 60%, 100% {
                      -webkit-transform: initial;
                      -ms-transform: initial;
                      transform: initial;
                    }
                    30% {
                      -webkit-transform: translateY(-4px);
                      -ms-transform: translateY(-4px);
                      transform: translateY(-4px);
                    }
                  }
                }
              }
            }
          }

          input {
            font-size: 13px;
          }

          input[type=number] {
            width: 50px;
          }

          .edit {
            display: none;
          }

          .view {
            display: block;
          }

          &:last-child {
            text-align: right;
          }
        }

        &.editing {
          .edit {
            display: block;
          }

          .view {
            display: none;
          }
        }
      }
    }
  }
}

.select2-currency {
  display: flex;
  align-items: center;

  .select2-currency__icon {
    margin-right: 10px;

    img {
      width: 24px;
      display: block;
    }
  }

  .select2-currency__name {
    text-transform: capitalize;
  }
}